# email address from which the "contact us" form is sent
EMAIL_ACCOUNT=example@gmail.com
EMAIL_PASS=example_password
EMAIL_SERVER=smtp.gmail.com
EMAIL_USER='Example User'

# email address to which the "contact us" form is sent
CONTACT_US_SEND_TO_EMAIL=example@gmail.com
